
#box1{
    color:red;
    background-color: black;
    /* font-style: italic; */
    font-size: 20px;
    font-family: "Jaro", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  line-height: 40px;
  /* word-spacing: 50px; */
}
.box2{
    color:blue;
    background-color: tomato;
    word-spacing: 50px;
}
div{
    background-color:rgba(9, 255, 17, 0.888);
    color: #422509;
}

